In [1]:
import pandas as pd

reviews = pd.read_csv("/Users/yagizkarakaya/Desktop/pandas_exercises/winemag-data_first150k.csv", index_col=0)
pd.set_option("display.max_rows", 5)

In [2]:
reviews.head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

1. "description" sütununu seçin ve sonucu "desc" değişkenine atayın.

In [15]:
desc = reviews['description']
desc

0         This tremendous 100% varietal wine hails from ...
1         Ripe aromas of fig, blackberry and cassis are ...
                                ...
150928    A perfect salmon shade, with scents of peaches...
150929    More Pinot Grigios should taste like this. A r...
Name: description, Length: 150930, dtype: object

2. "reviews"in description sütunundan ilk değeri seçin ve bunu "first_description" değişkenine atayın.

In [4]:
first_description = desc[0]
print(first_description)

This tremendous 100% varietal wine hails from Oakville and was aged over three years in oak. Juicy red-cherry fruit and a compelling hint of caramel greet the palate, framed by elegant, fine tannins and a subtle minty tone in the background. Balanced and rewarding from start to finish, it has years ahead of it to develop further nuance. Enjoy 2022–2030.

3. "reviews"den ilk veri satırını seçin ve bunu "first_row"  değişkenine atayın.

In [5]:
first_row = reviews.loc[0:0]
first_row

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz

4. "reviews"deki "description" sütunundan ilk 10 değeri seçin ve sonucu "first_descriptions" değişkenine atayın. Çıktınızı bir pandas serisi olarak biçimlendirin.

In [14]:
first_description = desc.iloc[0: 10]
first_description = pd.Series(first_description)

first_description

0    This tremendous 100% varietal wine hails from ...
1    Ripe aromas of fig, blackberry and cassis are ...
                           ...
8    This re-named vineyard was formerly bottled as...
9    The producer sources from two blocks of the vi...
Name: description, Length: 10, dtype: object

5. "1", "2", "3", "5" ve "8" dizin etiketlerine sahip satırları seçin. Sonucu "sample_reviews" değişkenine atayın. Başka bir deyişle, aşağıdaki DataFrame'i oluşturun:

![](https://i.imgur.com/sHZvI1O.png)

In [13]:
f_index = [1, 2, 3, 5, 8]
sample_reviews = reviews.iloc[f_index]

sample_reviews

,country,description,designation,points,price,province,region_1,region_2,variety,winery
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
5,Spain,"Deep, dense and pure from the opening bell, th...",Numanthia,95,73.0,Northern Spain,Toro,NaN,Tinta de Toro,Numanthia
8,US,This re-named vineyard was formerly bottled as...,Silice,95,65.0,Oregon,Chehalem Mountains,Willamette Valley,Pinot Noir,Bergström

6. "0", "1", "10" ve "100" dizin etiketlerine sahip kayıtların "country", "province", "region_1" ve "region_2" sütunlarını içeren bir "df" değişkeni oluşturun. 
Başka bir deyişle, aşağıdaki DataFrame'i oluşturun:

![](https://i.imgur.com/FUCGiKP.png)

In [12]:
f_str = ['country', 'province', 'region_1', 'region_2']
df = reviews[f_str].iloc[[0, 1, 10, 100]]

df

    country            province     region_1     region_2
0        US          California  Napa Valley         Napa
1     Spain      Northern Spain         Toro          NaN
10    Italy  Northeastern Italy       Collio          NaN
100      US          California  South Coast  South Coast

7. İlk 100 kaydın "country" ve "variety" sütunlarını içeren bir "df" değişkeni oluşturun. "loc" veya "iloc" kullanabilirsiniz

In [9]:
f_str1 = ['country', 'variety']

df_1= reviews[f_str1].iloc[0:100]

df_1

   country               variety
0       US    Cabernet Sauvignon
1    Spain         Tinta de Toro
..     ...                   ...
98  France         Merlot-Malbec
99  France  Ugni Blanc-Colombard

[100 rows x 2 columns]

8. İtalya"da üretilen şarapların incelemelerini içeren bir DataFrame ("italian_wines") oluşturun.

In [10]:
italian_wines = reviews[(reviews['country'] == 'Italy')]

italian_wines

,country,description,designation,points,price,province,region_1,region_2,variety,winery
10,Italy,"Elegance, complexity and structure come togeth...",Ronco della Chiesa,95,80.0,Northeastern Italy,Collio,NaN,Friulano,Borgo del Tiglio
32,Italy,"Underbrush, scorched earth, menthol and plum s...",Vigna Piaggia,90,NaN,Tuscany,Brunello di Montalcino,NaN,Sangiovese,Abbadia Ardenga
...,...,...,...,...,...,...,...,...,...,...
150927,Italy,This classic example comes from a cru vineyard...,Terre di Dora,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Terredora
150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

9. Avustralya veya Yeni Zelanda şarapları için en az 95 puan (100 üzerinden) olan tüm incelemeleri içeren bir DataFrame "top_oceania_wines" oluşturun.

In [11]:
top_ocenia_wines = reviews.loc[(reviews['points'] > 95) & (reviews['country'] == 'Australia') | (reviews['country'] == 'New Zeland')]